body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

.card {
    background: white;
    margin: 15px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

button {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

          